//-------------------------------------
//-- Site - Config - Design
//-------------------------------------

/* ... */

// Classic url
@mixin gabick-background-image {
	@include nwayo-bg-image-styles('small-logo-gabick.png', 'site');
}

$footer-adjective-font-size: 			$common-title-size;
$footer-gabick-primary-color: 			#fc7f62;
$footer-gabick-secondary-color: 		#00adb5;
