<div class="et_pb_row et_pb_row_1">
	<div class="et_pb_column et_pb_column_1">
		[types field='machinerie_image'][/types]
	</div>
	<div class="et_pb_column et_pb_column_1">
		<div class="services-title"><h2>[types field='machinerie_name'][/types]</h2></div>
	</div>
</div>