/*
 Theme Name:   Divi Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
#top-header {
    height: 32px;
}
#et-info {
    float:none;
}
.wrapper-info {
    float: right;
}

@media screen and (max-width: 580px) {
    .wrapper-info {
        float: none;
    }
}

/* Global Headings */
body #page-container h1,body #page-container h2,body #page-container h3,body #page-container h4,body #page-container h5,body #page-container h6 {
    text-transform: uppercase;
}

body #page-container h1 {
    font-size: 40px;
}

body #page-container h2 {
    font-size: 30px;
    font-weight: 800;
}

body #page-container h3 {
    font-size: 20px;
}

body #page-container h4 {
    font-size: 18px;
}

@media screen and (max-width:768px) {

    body #page-container h1 {
        font-size: 38px;
    }

    body #page-container h2 {
        font-size: 26px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 16px;
    }
}


@media screen and (max-width:420px) {

    body #page-container h1 {
        font-size: 34px;
    }

    body #page-container h2 {
        font-size: 24px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 14px;
    }
}

/* Services Custom Post Type */
.home-service-row {
 padding: 0;
}
.home-service-row .et_cpt_container_column {
    padding: 0;
}
.home-service-row .home-service {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
}

.service-quote {
    display:block;
    background-color: #265ca2;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-top: -8px;
}

.service-quote:hover {
    background-color: #4b5356;
    transition: 0.3s;
}
.services-title {
    padding-bottom: 10px;
}

.services-text {
    padding-top: 10px;
}

.custom_services {
    margin-bottom: 0
}

@media screen and (max-width:420px) {
    .service-quote {
        padding: 10px;
    }
}

/* Machinerie Custom Post Type*/
.home-machinerie-row .et_pb_row {
    padding: 15px 0;
}

.home-machinerie-row .home-machinerie h3 {
    text-align: center;
}

.home-machinerie-row .type-machineries {
    margin-bottom: 0;
}

.machinerie-row .type-machineries .services-title {
    padding-top: 10px;
    padding-bottom: 0;
}

.machinerie-row .type-machineries .et_pb_column {
    margin-right: 0;
    margin-bottom: 0;
}

.machinerie-row .et_pb_column_cbg_1 {
    margin-right: 0;
    margin-bottom: 0;
}

.machinerie-row .et_pb_column_1_2 {
    width: 50%;
}

.machinerie-row .et_pb_row {
    padding-bottom: 0;
}

.machinerie-row .type-machineries {
    margin-bottom: 0;
}

@media screen and (max-width:981px) {
    .machinerie-row .et_pb_column_1_2 {
        width: 100%;
    }
}

/* Footer */
#main-footer H4 {
    font-weight: 800;
}

#main-footer #text-2 h4 {
    font-size: 22px;
}


#main-footer #nav_menu-2 {
    width: 100%;
}

#main-footer #nav_menu-2 li {
    width: 115px;
    float: left;
}

#main-footer #text-4 li:before {
    content: "\5a";
    position:relative;
    font-family: 'ETmodules';
    top: 2px;
}

#main-footer #text-4 .adresse:before {
    content: "\e081";
}

#main-footer #text-4 .phone:before {
    content: "\e090";
}

#main-footer #text-4 .fax:before {
    content: "\e0fa";
}

#main-footer #text-4 .email:before {
    content: "\e076";
}

@media screen and (max-width:981px) {

    #main-footer ul#menu-footer_menu {
        max-width: 300px;
    }

    #main-footer #nav_menu-2 li {
        width: 45%;
    }

    #main-footer .footer-widget {
        width: 100% !important;
        margin-bottom: 9.5%!important;
    }

    #footer-widgets .footer-widget:nth-last-child(-n+2) {
        margin-bottom: 9.5%!important;
    }

    .call-to-action-contact h3 {
        text-align: left;
    }
}